.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  }
  
  .product__rating {
    display: flex;
  }
  
  .product > img {
    max-height: 250px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.product > img:hover{
  transform: scale(1.5);
}
.space {
  width: 10px;
  height: auto;
  display: inline-block;
}
  
  .product > button,.btn1,.btn2 {
    background: #013328 ;
    background-size: 100px ;
    border: 1px solid;
    border-radius: 4px;
    margin-top: 30px;
    border-color: #100c0d ;
    color:#cc8b65 ;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  
  .product >button:hover,.btn1:hover,.btn2:hover{
    background-color: #cc8b65;
    color: #013328;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
  .product__price {
    margin-top: 5px;
  }
  
  .product__info {
    height: 100px;
    margin-bottom: 15px;
  }