.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    /*background-color: #f3f3f3;*/
    background: linear-gradient(
      to bottom right,
      rgb(235, 195, 217),
      rgb(188, 217, 235)
    );
    border: 1px solid #dddddd;
    border-radius: 3px;
  }
  .subtotal__gift {
    display: flex;
    align-items: center;
  }
  .subtotal__gift > input {
    margin-right: 5px;
  }
  .subtotal > button {
    
    height: 30px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 10px;
    border-color: #a88734, #9c7e31, #846a29;

    background: #013328 ;
    color:#cc8b65 ;
  }

  .subtotal > button:hover{
    background-color: #cc8b65;
    color: #013328;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }